<div class="fiesta">
    <a ngClass="a"><b><h1>Fiesta Nacional</h1></b></a>
    <a ngClass="b"><b><h1>Fiesta Regional</h1></b></a>
    <a ngClass="c"><b><h1>Fiesta Local</h1></b></a>
    <a ngClass="d"><b><h1>Fiesta de Centro</h1></b></a>
</div>
<div class="contenedor">
  <div>
    <div class="header1">
      <h1>{{dateSelect | date:'MMMM yyyy'}}</h1>
    </div>
    <ol>
      <li *ngFor="let day of week" class="day1"><b>{{day}}</b></li>
      <li [style.gridColumnStart]="first ? day?.indexWeek:'auto'"
        *ngFor="let day of monthSelect;let first=first">
        <span>{{day?.value}}</span>
      </li>
    </ol>
  </div>
  <div>
    <div class="header2">
      <h1>{{dateSelect | date:'MMMM yyyy'}}</h1>
    </div>
    <ol>
      <li *ngFor="let day of week" class="day2"><b>{{day}}</b></li>
      <li [style.gridColumnStart]="first ? day?.indexWeek:'auto'"
        *ngFor="let day of monthSelect;let first=first">
        <span>{{day?.value}}</span>
      </li>
    </ol>
  </div>
</div>

